.container {
  padding: 3rem 0;
}

.inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  border: 2px solid #ddd;
  border-radius: 2rem;
}

.music-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: bottom 0.2s ease-in-out;
}

.music-player--hidden {
  bottom: -100%;
}

.change-layouts {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
