.container {
  padding: 3rem 0;
}

.inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  border: 2px solid #ddd;
  border-radius: 2rem;
}

.music-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: bottom 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

.music-player--hidden {
  bottom: -100%;
}

.change-layouts {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.media-player__download {
  height: 60px;
  padding: 10px 15px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.media-player__download a,
.media-player__download a:hover {
  color: #fff;
}

.player,
.player__progress,
.player__volume {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.player {
  gap: 2rem;
}

.player__progress {
  font-weight: 700;
  font-size: 0.75rem;
  flex-grow: 3;
}

.player__progress-wrap {
  flex: 1;
  position: relative;
}

.player__progress-input,
.player__volume-input {
  --bar-bg: #ddd;
  --bar-height: 8px;
  --seek-before-width: 0;
  --seek-before-color: #a8a8a8;
  --knobby: #000000;
  --knobby-size: 15px;
  --selectedKnobby: #303030;

  appearance: none;
  background: var(--bar-bg);
  border-radius: var(--bar-height);
  position: relative;
  width: 100%;
  height: var(--bar-height);
  outline: none;
}

.player__play-btn,
.player__volume-btn {
  outline: none !important;
  cursor: pointer;
  color: #000;
  flex-shrink: 0;
}

.player__play-btn:hover,
.player__volume-btn:hover {
  border-color: #666;
  color: #666;
}

.player__play-btn,
.player__volume-btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 2px solid #000;
}

.player__play-btn svg,
.player__volume-btn svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.player__progress-current,
.player__progress-total {
  min-width: 3em;
  text-align: center;
}

/* progress bar - safari */
.player__progress-input::-webkit-slider-runnable-track,
.player__volume-input::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: var(--bar-height);
  position: relative;
  width: 100%;
  height: var(--bar-height);
  outline: none;
}

/* progress bar - firefox */
.player__progress-input::-moz-range-track,
.player__volume-input::-moz-range-track {
  background: var(--bar-bg);
  border-radius: var(--bar-height);
  position: relative;
  width: 100%;
  height: var(--bar-height);
  outline: none;
}

.player__progress-input::-moz-focus-outer,
.player__volume-input::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.player__progress-input::before,
.player__volume-input::before {
  content: '';
  height: var(--bar-height);
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar - firefox */
.player__progress-input::-moz-range-progress,
.player__volume-input::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: var(--bar-height);
}

/* knobby - chrome and safari */
.player__progress-input::-webkit-slider-thumb,
.player__volume-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: var(--knobby-size);
  width: var(--knobby-size);
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: calc(var(--bar-height) * -0.5) 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.player__progress-input:active::-webkit-slider-thumb,
.player__volume-input:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

/* knobby - firefox */
.player__progress-input::-moz-range-thumb,
.player__volume-input::-moz-range-thumb {
  height: var(--knobby-size);
  width: var(--knobby-size);
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  margin: calc(var(--bar-height) * -0.5) 0 0 0;
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - firefox */
.player__progress-input:active::-moz-range-thumb,
.player__volume-input:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}
